<div class="users-notes">
  {{#each post in posts}}
    <div class="user-note">
      <h3>{{post.title}}</h3>
      <p>{{post.body}}</p>
      <h3 class="post-user-name">- {{firstName}}{{lastName}}</h3>
    </div>
  {{/each}}
</div>

{{outlet}}
